{% extends 'student_management/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2>Admin Dashboard</h2>
<p>Welcome, {{ user.username }}!</p>

<ul>
  <li><a href="{% url 'student_management:manage_courses' %}">Manage Courses</a></li>
  <li><a href="{% url 'student_management:enroll_student' %}">Enroll Students</a></li>
  <li><a href="{% url 'student_management:assign_grade' %}">Assign Grades</a></li>
  {% comment %} <li><a href="{% url 'student_management:chart_view' %}">View Chart</a></li> {% endcomment %}
</ul>

<p>Total Courses: {{ courses }}</p>
<p>Total Students Registered: {{ students }}</p>
{% endblock %}
